@model PatientFilteredListVM

@{
    ViewData["Title"] = "Patients";
}

<a class="btn btn-sm btn-primary" asp-action="Add">
    <i class="bi bi-plus-square"></i>
    Add
</a>

<partial name="_Filter" model="@Model.Filter" />

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>HireDate</th>
            <th>Salary</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model.Patients) {
            <tr>
                <td>@d.Id</td>
                <td>
                    <a asp-action="Details" asp-route-id="@d.Id">@d.Name</a>
                </td>
                <td>@d.HireDate.ToShortDateString()</td>
                <td>SAR @d.Salary</td>
                <td>
                    <a class="btn btn-sm btn-secondary" asp-action="Update" asp-route-id="@d.Id">
                        <i class="bi bi-pencil-square"></i>
                        Update
                    </a>
                    <button class="btn btn-sm btn-danger btn-js-delete" data-id="@d.Id">
                        <i class="bi bi-trash3-fill"></i>
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_Pagination" model="@Model.Filter" />

@section Scripts {
    <script>
        $(".btn-js-delete").on("click", function() {
            var id = $(this).data("id");
            var isConfirmed = confirm("Do you want to delete this patient?");

            if (isConfirmed) {
                $.ajax({
                    url: "Patient/Delete/" + id,
                    success: () => {
                        $(this).parents("tr").remove();
                    },
                    error: () => {
                        alert("Failed to delete patient");
                    }
                });
            }
        });


        $(".js-page-link").on("click", function () {
            const page = $(this).data("page");
            $("#patient-filter-form #Page").val(page);
            $("#patient-filter-form").submit();
        });
    </script>
}
